#titulo1 {
  color: rgb(204, 227, 247);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url(https://i.pinimg.com/564x/cb/ca/7a/cbca7a89031a79f24e056af421508d01.jpg);
  overflow-x: hidden;
}

p {
  font-size: 18px;
  font-style: italic;
  text-decoration: solid;
}

.contenedor {
  display: block;
  align-items: center;
}
.contenedor .titulo {
  color: #0f2134;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 10px;
  background-color: #336699;
}
.contenedor .perfume {
  padding: 40px;
  width: 350px;
  height: 360px;
  object-fit: cover;
}
.contenedor .parrafo {
  background-color: #336699;
  font-style: italic;
  color: #112036;
  padding: 30px;
  margin: 10px;
  height: 350px;
  width: 600px;
  border: 10px solid #112036;
  overflow: visible;
}

.productos {
  max-width: 40%;
  height: auto;
  width: 40%;
  object-fit: cover;
}
@media screen and (max-width: 767px) {
  .productos {
    max-width: 100%;
    width: 100%;
  }
}

.productos1 img {
  max-width: 40%;
  height: 40%;
  transition: transform 0.3s ease;
}
.productos1 img:hover {
  transform: scale(1.3);
}

.productos1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .productos1 {
    flex-direction: column;
  }
}
.titulo2 {
  color: #0f2134;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 10px;
  background-color: #336699;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.productos1 a {
  display: inline-block;
  padding: 10px;
  background-color: #336699;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
}

.encabezado {
  display: inline-flex;
  background-color: #132533;
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

@media (max-width: 400px) {
  .encabezado {
    background-color: transparent;
  }
}
.logoglm {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100%;
}

.navbar-nav {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar-nav li {
  list-style: none;
}
.navbar-nav li a {
  display: inline-block;
  padding: 10px;
  background-color: #33536c;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  justify-content: flex-end;
}

footer {
  background-color: #0e153a;
  padding: 20px;
  text-align: center;
  color: #ffffff;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

h1, h2 {
  color: #0e153a;
}

footer {
  background-color: #0f2134;
  padding: 20px;
  text-align: center;
  color: #ffffff;
}

.conteiner {
  background-color: rgb(39, 55, 101);
  font-style: italic;
  color: #112036;
  padding: 50px;
  margin: 50px;
  height: 250px;
  width: 400px;
  border: 10px solid #112036;
  overflow: visible;
  gap: 20px;
  text-align: center;
  transition: transform 0.3s ease;
}
.conteiner:hover {
  transform: scale(1.3);
}

h1 {
  color: #112036;
  background-color: #336699;
  text-align: center;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.uno img {
  max-width: 40%;
  height: 400px;
  margin: 50px;
  display: inline-block;
  width: 70%;
  vertical-align: middle;
  max-width: 100%;
  height: 400px;
  margin: 50px;
  transition: transform 0.3s ease;
}
.uno img:hover {
  transform: scale(1.3);
}

@media screen and (max-width: 768px) {
  .uno {
    flex-direction: column;
  }
}
.dos img {
  max-width: 40%;
  height: 400px;
  margin: 50px;
  display: inline-block;
  width: 70%;
  vertical-align: middle;
  transition: transform 0.3s ease;
}
.dos img:hover {
  transform: scale(1.3);
}

@media (max-width: 768px) {
  .dos, .uno {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .uno img, .dos img {
    width: 100%;
    max-width: 40%;
    object-fit: cover;
  }
}
h3, h2 {
  color: #0f2134;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 10px;
  background-color: #336699;
  color: #aac6e4;
}

h1 {
  color: #0f2134;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 10px;
  background-color: #336699;
}

.slide {
  margin-top: 30px;
  width: 400px;
  height: 400px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 30px;
  margin: 0 auto;
}
.slide img {
  margin-top: 10px;
  width: 300px;
  height: 600px;
}

body {
  overflow-x: hidden;
}

.contenedor-nosotros {
  height: auto;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  border: #112036 solid;
  transition: transform 0.3s ease;
}
.contenedor-nosotros:hover {
  transform: scale(1.1);
}
.contenedor-nosotros h1 {
  color: #0f2134;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 10px;
  background-color: #336699;
}
.contenedor-nosotros p {
  font-style: "Times New Roman", Times, serif;
  color: #112036;
  padding: 30px;
  margin: 20px;
  width: 90%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: auto;
}
@media screen and (max-width: 767px) {
  .contenedor-nosotros .contenedor-nosotros {
    height: auto;
    padding: 10px;
  }
  .contenedor-nosotros p {
    padding: 10px;
    margin: 10px;
  }
}

.contenedor-video {
  padding: 50px;
  margin: 30px;
  height: 500px;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.titulo2 {
  color: #112036;
  background-color: rgb(89, 130, 192);
  text-align: center;
  margin: 30px;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.productos1 a {
  display: inline-block;
  padding: 10px;
  background-color: #336699;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
}

.productos1 img {
  max-width: 45%;
  height: 40%;
  transition: transform 0.3s ease;
}
.productos1 img:hover {
  transform: scale(1.3);
}

.productos1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  height: 50%;
}

@media screen and (max-width: 768px) {
  .productos1 {
    flex-direction: column;
  }
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.mapas {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  position: relative;
  width: 300px;
  border: 10px solid #112036;
}
.mapas p {
  margin-bottom: 0;
}
.mapas div {
  padding-top: 30px;
}
.mapas h1 {
  color: #0e153a;
  overflow: hidden;
}

.mapas iframe {
  max-width: 100%;
}

.zona {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  padding: 10px;
  margin: 15px;
  overflow: hidden;
}

footer {
  background-color: #0e153a;
  padding: 20px;
  text-align: center;
  color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
