$main-color: #0e153a; // Color azul oscuro principal
$secondary-color: #ffffff; // Color de texto


// Estilos específicos para la página de envíos

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.mapas {
  background-color: $secondary-color;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  position: relative;
  width: 300px;
  border:10px solid $blue-dark1;
  p {
    margin-bottom: 0;
  }
  div {
    padding-top: 30px;
  }
  h1 {
    color: $main-color;
    overflow: hidden;
  }
  }
.mapas iframe {
  max-width: 100%;
}


.zona { 
position:absolute; 
top: 0; 
left: 0; 
width: 250px;
padding: 10px; 
margin: 15px;
overflow: hidden;
}



footer {
  background-color: $main-color;
  padding: 20px;
  text-align: center;
  color: $secondary-color;
}
