$main-color: #0e153a; // Color azul oscuro principal
$secondary-color: #ffffff; // Color de texto
$blue-light: #aac6e4;
$blue-dark: #0f2134;
$blue-medium: #336699;
$blue-hover: #0044AA;
$blue-dark1: #112036;


h1 {@include titulos }

    
.slide {
    margin-top: 30px;
    width: 400px;
    height: 500px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 30px;
    margin: 0 auto; 
    img { margin-top: 10px;
        width: 100px;
        height: 100px;
        margin: 0 auto; 
    }
}

