$main-color: #0e153a; // Color azul oscuro principal
$secondary-color: #ffffff; // Color de texto
$blue-light: #aac6e4;
$blue-dark: #0f2134;
$blue-medium: #336699;
$blue-hover: #0044AA;
$blue-dark1: #112036;


.uno img {
    max-width: 40%;
    height: 400px;
    margin: 50px;
    display: inline-block;
    width: 70%;
    vertical-align: middle;
    max-width: 100%;
    height: 400px;
    margin: 50px;
    transition: transform 0.3s ease; 
    &:hover {
        transform: scale(1.3); }
    }

@media screen and (max-width: 768px) {
    .uno {
      flex-direction: column;
    }
  }
  
.dos img {
    max-width: 40%;
    height: 400px;
    margin: 50px;
    display: inline-block;
    width: 70%;
    vertical-align: middle;
    transition: transform 0.3s ease; 
    &:hover {
        transform: scale(1.3); }
    }

@media (max-width: 768px) {
        .dos, .uno {
        flex-direction: column;
        flex-wrap: nowrap;
        }

        .uno img, .dos img {
        width: 100%;
        max-width: 40%;
        object-fit: cover
        }
    }


h3, h2 {
        @include titulos;
        color: #aac6e4;}
    